<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Aareas247Marketing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <!-- Address of the 24/7 Sales Center application -->
    <!--<add key="ServerAddress" value="http://bestrentnj.247salescenter.com"/>-->
    <add key="ServerAddress" value="https://bestrentnyc.247salescenter.com" />
    <add key="LocalServerAddress" value="http://localhost:3822/BestRentNJ_F" />
    <add key="ClientDomainAddress" value="https://www.bestrentnyc.com" />
    <!-- 24/7 Sales Center ID for WebRegistrations -->
    <add key="CommonTemplateSC" value="76" />
    <add key="TemplateID" value="2" />
    <!-- Value can be 1 or 6 only -->
    <add key="FeaturedCommunityCount" value="1" />
    <add key="PhoneValidationExpression" value="^(011[ 0-9]*)|(1?[- ]?([(]?[2-9]{1}\d{2}[)]?[- ]?\d{3}[- ]?\d{4})([ ]?(ext|Ext|EXT|x|X|Ex|ex)?[.]?[ ]?\d{1,6})?)$" />
    <add key="ValidNameExpression" value="^[a-zA-Z'-\.\s()]*$" />
    <!-- Google Maps Ini Values -->
    <add key="GoogleMapsApiKey" value="ABQIAAAAhWBSdRTGItboNbX2OrDOWRTjKgNWBjxqz2vU7_CfPo25c-ETBhRUw5XvtSzDxgsDAvDCB_fE0p7oNQ" />
    <add key="GoogleMapCenterLatitude" value="38" />
    <add key="GoogleMapCenterLongitude" value="-118.5" />
    <add key="GoogleMapStartZoom" value="3" />
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.1" />
    <sessionState timeout="120" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    <httpModules>
      <add name="RoutingModule" type="System.Web.Routing.UrlRoutingModule,System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <machineKey validationKey="F5B7CF42C7302ECA998D622A4ED572E0E1F0D3E9E969511DB0758806E96A6160C383CBA71E685725BA68A5C8496B2F235B8E67449655B0472B6B07D46BFA95E7" decryptionKey="611B02F922AA431DB46FED4892B444D54283898E04C49E8D" validation="SHA1" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <applicationSettings>
    <Aareas247Marketing.Properties.Settings>
      <setting name="Aareas247Marketing_WS247_Organization_Organization" serializeAs="String">
        <value>http://bestrentnyc.247salescenter.com/Webservice/247WS-Organization.asmx</value>
      </setting>
      <setting name="TheCollective_WS247_MediaCenter_MediaCenter" serializeAs="String">
        <value>http://bestrentnyc.247salescenter.com/webservice/247WS-MediaCenter.asmx</value>
      </setting>
      <setting name="TheCollective_WS247_Availability_Availability" serializeAs="String">
        <value>http://bestrentnyc.247salescenter.com/Webservice/247WS-Availability.asmx</value>
      </setting>
      <setting name="TheCollective_WS247_Survey_Survey" serializeAs="String">
        <value>http://bestrentnyc.247salescenter.com/Webservice/247WS-Survey.asmx</value>
      </setting>
      <setting name="TheCollective_WS247_lookup_Lookup" serializeAs="String">
        <value>http://bestrentnyc.247salescenter.com/Webservice/247WS-lookup.asmx</value>
      </setting>
      <setting name="TheCollective_WS247_Availability_ModelSync" serializeAs="String">
        <value>http://bestrentnyc.247salescenter.com/Webservice/247WS-ModelSync.asmx</value>
      </setting>
      <setting name="TheCollective_WS247_ModelSync_ModelSync" serializeAs="String">
        <value>http://bestrentnyc.247salescenter.com/Webservice/247WS-ModelSync.asmx</value>
      </setting>
      <setting name="TheCollective_WS247_Organization_Organization" serializeAs="String">
        <value>http://bestrentnyc.247salescenter.com/Webservice/247WS-Organization.asmx</value>
      </setting>
      <setting name="TheCollective_WS247_News_News" serializeAs="String">
        <value>http://bestrentnyc.247salescenter.com/Webservice/247WS-News.asmx</value>
      </setting>
      <setting name="TheCollective_WS247_UIMessage_UILanguageMessage" serializeAs="String">
        <value>http://bestrentnyc.247salescenter.com/Webservice/247WS-UIMessage.asmx</value>
      </setting>
      <setting name="TheCollective_WS247_ContactsSync_ContactsSync" serializeAs="String">
        <value>http://bestrentnyc.247salescenter.com/Webservice/247WS-ContactsSync.asmx</value>
      </setting>
      <setting name="TheCollective_WS247_Contacts_Contacts" serializeAs="String">
        <value>http://bestrentnyc.247salescenter.com/Webservice/247WS-Contacts.asmx</value>
      </setting>
    </Aareas247Marketing.Properties.Settings>
  </applicationSettings>
  <microsoft.web.services3>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- ... -->
    </modules>
    <handlers>
      <!-- ... -->
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
        <defaultDocument>
            <files>
                <add value="Main.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>